:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-theme-bg);
    color: white;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
}

header{
    background-color: var(--color-theme-bg);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
}

nav{
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    display: flex;
    gap: 2px;
    align-items: center;
}

.logo:hover .logo-img {
    display: none;
}

.logo:hover .video {
    display: block;
}

.logo-img{
    width:23px;
}

.nav-mid{
    display: flex;
    gap: 34px;
}

.nav-mid a{
    text-decoration: none;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-theme-fg);
}

.btn{
    background-color: var(--color-theme-fg);
    font-size: 0.82rem;
    padding: 0.369rem 0.656rem 0.377rem;
    border-radius: 18px;
    font-weight: 500;
    line-height: 14px;
}

.btn :hover{
    background-color: var(--color-theme-fg-02);
} 

.sing-in{
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    border: 0px solid var(--color-theme-fg);
    box-shadow: 0 0 0 0.26px var(--color-theme-fg);
}

.video{
    display: none;
    width: 23px;
}

.sing-in :hover{
    box-shadow: 0 0 0 0.26px var(--color-theme-fg);
}

