:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    letter-spacing: 0px;
    background-color: var(--color-theme-bg);
    color: white;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{    
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--color-theme-bg);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
}

nav{
    
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    display: flex;
    gap: 2px;
    align-items: center;
}

.logo:hover .logo-img {
    display: none;
}

.logo:hover .video {
    display: block;
}

.logo-img{
    width:23px;
}

.nav-mid{
    display: flex;
    gap: 32px;
    margin-left: 56px;
}

.nav-mid a{
    text-decoration: none;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-theme-fg);
}

.btn{
    background-color: var(--color-theme-fg);
    font-size: 0.9rem;
    border: 1px solid #edecec;
    border-radius: 18px;
    font-weight: 500;
    line-height: 14px;
}


.sing-in{
    height: 24px;
}

.download{
    padding: 0.369rem 0.656rem 0.377rem 0.80rem;
    border: none;
}

.btn :hover ,.download .sing-in{ 
    opacity: 90%;
    background-color: var(--color-theme-fg-02);
} 

.sing-in{
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    border: 0px solid var(--color-theme-fg);
    box-shadow: 0 0 0 0.26px var(--color-theme-fg);
    padding: 0 10px 0 10px;
}

.video{
    display: none;
    width: 23px;
}

.sing-in :hover{
    box-shadow: 0 0 0 0.26px var(--color-theme-fg);
}

.nav-btns{
    display: flex;
    gap: 10px;

}

main{
    width: 86%;
    margin: auto;
    border: 1px solid #2b2923; 
}

.hero-section-img{
    margin-top: 66px;
}

.hero-section-img img{
    width: 100%;
}


.hero-section{
    margin-top: 105px;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 32.5px;
    color: var(--color-theme-fg);
    letter-spacing: 0.01rem;
}

.download-btn-cta{
    margin-top: 20px;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(20, 18, 11);
    padding: 14px 24px;
}

.arrow{
    font-weight: 500;
    font-size: 18px;
}

.section2{
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 p{
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(237, 236, 236);
    margin-bottom: 21px;
}

.brand-card{
    
    display: grid;
    grid-template-columns: repeat(8,154.25px);
    grid-template-rows: repeat(2, 96px);
    gap: 10px;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-theme-card-hex);
    border-radius: 6px;
}

.brand img{
    height: 40px;
    width: auto;
}

.section3{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.features{
    background-color: var(--color-theme-card-hex);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    border-radius: 6px;
}

.text1, .text3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: -1px;
    margin-right: 30px
}

.text2 a,
.text3 a,
.text1 a {
    margin-top: 20px;
    color: rgb(233, 62, 62);
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.text2 p,
.text3 p,
.text1 p{
    font-weight: 400;
}

.img2 img,
.img3 img,
.img1 img{
    width: 840px;
}

.part2{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-color{
    color:rgb(168, 162, 150)
}

.section4{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
}
.section4 h2{
    font-size: 36px;
    font-weight: 450;
}

.feedback{
    margin-top: 54px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 280px 280px;
    gap: 10px;
}

.feedback-card{
    background-color: var(--color-theme-card-01-hex);
    padding: 18px 18px 14px 18px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(237, 236, 236);
}

.feedback-card img{
    width: 40px;
    border-radius: 4px;
}

.details{
    display: flex;
    gap: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.work{
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
}
